In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import os
print('Esperamos trabalhar no diretório')
meu_diretorio = "C:/Users/gabri/Documents/Insper/Segundo Semestre/Ciencia dos Dados/Projeto 1"
os.chdir(meu_diretorio)

print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\gabri\Documents\Insper\Segundo Semestre\Ciencia dos Dados\Projeto 1

# Projeto 1 - Ciência dos Dados#
**Gabriel Pascua de Freitas Moreira**

**Turma 2B**

**Análise da União Europeia**

Os anos a serem analisados serão no intervalo entre 2003 e 2008


A escolha desses anos foi feita por conta do ano de adesão dos quatro países analisados, sendo eles:
- Polônia
- Tchéquia
- Estônia
- Hungria

**Perguntas**
1. Países que se juntam à União Europeia tem uma diminuição da taxa de desemprego?
2. Países que se juntam União Europeia tem um aumento do PIB per capita?

**Hipóteses**
1. Países que entram na União Europeia terão uma diminuição na taxa de desemprego, visto que hanverá mais oportunidades, devida as relações com outros países europeus ser facilitada e há a possibilidade de livre transição entre países
2. Países que entram na União Europeia tem aumneto no PIB per capita, devido ao livre comércio garantido com a adesão ao bloco

**Países e suas respectivas regiões e pertencimento à União Europeia**

In [3]:
regiao = pd.read_excel('regioes.xlsx')
regiao.head()

       country regions  EU
0  Afghanistan    asia   0
1      Albania  europe   0
2      Algeria  africa   0
3      Andorra  europe   0
4       Angola  africa   0

**Porcentagem de Desempregados**

In [5]:
desemprego = pd.read_excel('desemprego.xlsx')

In [6]:
desemprego_menor = desemprego.loc[:, ["country", 2003,2004,2005,2006,2007,2008]]
desemprego_menor.head()

               country  2003  2004  2005  2006  2007   2008
0          Afghanistan   NaN   NaN   NaN   NaN   NaN   2.49
1              Albania   NaN   NaN   NaN   NaN  16.0  13.10
2              Algeria  23.7  17.6  15.3  12.3  13.8  11.30
3               Angola   NaN   NaN   NaN   NaN   NaN    NaN
4  Antigua and Barbuda   NaN   NaN   NaN   NaN   NaN    NaN

**PIB Per Capita**

In [21]:
GDPcapita = pd.read_excel('gdpcapita.xlsx')
GDPcapita.head()

,country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,445.0,525.0,553,569.0,630.0,634.0,630.0,620.0,618.0,618.0
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3780.0,3930.0,4090,4210.0,4280.0,4330.0,4410.0,4520.0,4680.0,4870.0
2,Algeria,2470.0,2080.0,1630.0,2130.0,2200.0,2280.0,2110.0,2240.0,2410.0,...,4390.0,4390.0,4460,4500.0,4560.0,4600.0,4680.0,4760.0,4830.0,4830.0
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43900.0,42000.0,39700,38200.0,38200.0,39100.0,40800.0,41800.0,43000.0,43900.0
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3580.0,3540.0,3530,3540.0,3590.0,3710.0,3750.0,3730.0,3580.0,3480.0

Junção das tabelas de Desemprego e Regiões e de PIB e regiões e índices transformados nos nomes dos países

In [7]:
desemp_idx = desemprego_menor.set_index('country')
gdp_idx = GDPcapita.set_index('country')
regiao_idx = regiao.set_index('country')

In [8]:
desemp_reg = desemp_idx.join(regiao_idx, how='inner')

Separação dos países europeus em relação ao seu pertencimento na União Europeia e análise quanto ao índice de desemprego

In [15]:
desemp_europe = desemp_reg[desemp_reg.regions == "europe"]

In [16]:
UE_desemp =  desemp_europe[desemp_europe.EU ==1]
UE_desemp

                  2003   2004   2005   2006   2007   2008 regions  EU
country
Austria           4.78   5.83   5.63   5.24   4.86   4.13  europe   1
Belgium           7.68   7.36   8.44   8.25   7.46   6.98  europe   1
Bulgaria         13.70  12.00  10.10   8.95   6.88   5.61  europe   1
Croatia          13.90  13.70  12.60  11.10   9.91   8.53  europe   1
Cyprus            4.14   4.33   5.30   4.54   3.92   3.65  europe   1
Czech Republic    7.54   8.21   7.93   7.15   5.32   4.39  europe   1
Denmark           5.40   5.20   4.83   3.90   3.80   3.43  europe   1
Estonia          11.30  10.20   8.03   5.91   4.59   5.45  europe   1
Finland          10.50  10.40   8.38   7.72   6.85   6.37  europe   1
France            8.31   8.91   8.49   8.45   7.66   7.06  europe   1
Germany           9.78  10.70  11.20  10.30   8.66   7.52  europe   1
Greece            9.41  10.30   9.99   9.01   8.40   7.76  europe   1
Hungary           5.79   5.83   7.19   7.49   7.41   7.82  europe   1
Ireland           4.48   4.49   4.34   4.41   4.98   6.77  europe   1
Italy             8.87   7.87   7.73   6.78   6.08   6.72  europe   1
Latvia           12.10  11.70  10.00   7.03   6.05   7.74  europe   1
Lithuania        12.90  10.70   8.32   5.78   4.25   5.83  europe   1
Luxembourg        3.67   5.11   4.49   4.73   4.07   5.06  europe   1
Malta             7.49   7.32   6.92   6.80   6.47   5.98  europe   1
Netherlands       3.59   4.65   4.72   3.90   3.18   2.75  europe   1
Poland           19.40  19.10  17.70  13.80   9.60   7.12  europe   1
Portugal          6.13   6.32   7.58   7.65   7.96   7.55  europe   1
Romania           6.95   7.72   7.17   7.27   6.41   5.79  europe   1
Slovak Republic  17.10  18.60  16.30  13.40  11.10   9.51  europe   1
Slovenia          6.48   6.01   6.51   5.95   4.82   4.37  europe   1
Spain            11.30  11.10   9.15   8.45   8.23  11.30  europe   1
Sweden            5.55   6.69   7.49   7.07   6.16   6.23  europe   1
United Kingdom    4.81   4.59   4.75   5.35   5.26   5.62  europe   1

In [11]:
NOT_UE_desemp =  desemp_europe[desemp_europe.EU ==0]
NOT_UE_desemp

                         2003   2004   2005   2006   2007   2008 regions  EU
country
Albania                   NaN    NaN    NaN    NaN  16.00  13.10  europe   0
Armenia                   NaN    NaN    NaN    NaN    NaN    NaN  europe   0
Azerbaijan               9.25   8.00   7.30   6.62   6.54   6.05  europe   0
Belarus                   NaN    NaN    NaN    NaN    NaN    NaN  europe   0
Bosnia and Herzegovina    NaN    NaN    NaN  31.10  29.00  23.40  europe   0
Georgia                   NaN    NaN    NaN    NaN    NaN    NaN  europe   0
Iceland                  4.00   4.03   2.55   2.83   2.25   2.95  europe   0
Liechtenstein            2.11   2.40   2.66   2.46   2.01    NaN  europe   0
Macedonia, FYR            NaN  37.20  37.20  36.00  34.90  33.80  europe   0
Moldova                  7.95   8.17   7.29   7.38   5.07   3.98  europe   0
Monaco                    NaN    NaN    NaN    NaN    NaN    NaN  europe   0
Montenegro                NaN    NaN  30.30    NaN  19.40  17.10  europe   0
Norway                   4.22   4.26   4.38   3.40   2.49   2.55  europe   0
Russia                   8.21   7.76   7.12   7.05   6.00   6.21  europe   0
San Marino                NaN    NaN   2.11   1.63    NaN    NaN  europe   0
Serbia                  15.20  18.50  20.90  20.90  18.10  13.70  europe   0
Switzerland              4.12   4.32   4.44   4.00   3.65   3.35  europe   0
Turkey                  10.50  10.80  10.60   8.72   8.87   9.71  europe   0
Ukraine                  9.06   8.59   7.18   6.81   6.35   6.36  europe   0

**Separação dos países europeus em relação ao seu pertencimento na União Europeia e análise quanto ao PIB**

In [23]:
gdp_reg = gdp_idx.join(regiao_idx, how='inner')

gdp_reg_f = gdp_reg.loc[:,[2003,2004,2005,2006,2007,2008,'regions','EU']]

gdp_europe = gdp_reg_f[gdp_reg_f.regions == "europe"]

In [24]:
UE_gdp =  gdp_europe[gdp_europe.EU ==1]
UE_gdp

,2003,2004,2005,2006,2007,2008,regions,EU
country,,,,,,,,
Austria,43100.0,44000.0,44600.0,46000.0,47500.0,48100.0,europe,1
Belgium,41000.0,42300.0,43000.0,43800.0,45000.0,45000.0,europe,1
Bulgaria,4800.0,5150.0,5560.0,5990.0,6480.0,6910.0,europe,1
Croatia,12100.0,12600.0,13100.0,13800.0,14500.0,14800.0,europe,1
Cyprus,29000.0,29900.0,30600.0,31400.0,32200.0,32700.0,europe,1
Czech Republic,16100.0,16900.0,18000.0,19200.0,20200.0,20500.0,europe,1
Denmark,56300.0,57600.0,58800.0,60900.0,61200.0,60500.0,europe,1
Estonia,12500.0,13300.0,14700.0,16300.0,17600.0,16700.0,europe,1
Finland,42700.0,44300.0,45400.0,47000.0,49200.0,49400.0,europe,1
France,39100.0,39900.0,40300.0,40900.0,41600.0,41500.0,europe,1
Germany,38200.0,38700.0,39000.0,40500.0,41800.0,42400.0,europe,1
Greece,26300.0,27600.0,27700.0,29200.0,30100.0,29900.0,europe,1
Hungary,11900.0,12500.0,13100.0,13600.0,13700.0,13900.0,europe,1
Ireland,47400.0,49700.0,51500.0,52900.0,54100.0,50900.0,europe,1
Italy,36700.0,37100.0,37200.0,37900.0,38200.0,37600.0,europe,1
Latvia,8870.0,9720.0,10900.0,12300.0,13600.0,13300.0,europe,1
Lithuania,8930.0,9620.0,10500.0,11500.0,12900.0,13400.0,europe,1
Luxembourg,97700.0,99800.0,101000.0,105000.0,112000.0,109000.0,europe,1
Malta,19000.0,19000.0,19600.0,19900.0,20600.0,21100.0,europe,1
Netherlands,46400.0,47200.0,48100.0,49700.0,51400.0,52100.0,europe,1
Poland,9140.0,9610.0,9950.0,10600.0,11300.0,11800.0,europe,1
Portugal,21500.0,21900.0,22000.0,22300.0,22800.0,22800.0,europe,1
Romania,5990.0,6520.0,6840.0,7430.0,8060.0,8870.0,europe,1
Slovak Republic,11800.0,12400.0,13200.0,14300.0,15900.0,16700.0,europe,1
Slovenia,20300.0,21200.0,22000.0,23200.0,24700.0,25400.0,europe,1
Spain,30100.0,30500.0,31100.0,31900.0,32500.0,32300.0,europe,1
Sweden,47000.0,48800.0,50000.0,52000.0,53400.0,52700.0,europe,1
United Kingdom,38100.0,38800.0,39700.0,40400.0,41100.0,40500.0,europe,1

In [25]:
NOT_UE_gdp =  gdp_europe[gdp_europe.EU ==0]
NOT_UE_gdp

,2003,2004,2005,2006,2007,2008,regions,EU
country,,,,,,,,
Albania,2830.0,3000.0,3190.0,3380.0,3610.0,3780.0,europe,0
Andorra,45500.0,47000.0,48800.0,49700.0,48700.0,43900.0,europe,0
Armenia,2020.0,2240.0,2570.0,2930.0,3370.0,3630.0,europe,0
Azerbaijan,2160.0,2360.0,2950.0,3920.0,4850.0,5260.0,europe,0
Belarus,3370.0,3780.0,4160.0,4610.0,5030.0,5560.0,europe,0
Bosnia and Herzegovina,3420.0,3630.0,3950.0,4160.0,4410.0,4660.0,europe,0
Georgia,1810.0,1940.0,2160.0,2390.0,2720.0,2820.0,europe,0
Iceland,38000.0,40700.0,42600.0,43700.0,46600.0,46500.0,europe,0
Liechtenstein,NaN,NaN,NaN,NaN,NaN,NaN,europe,0
"Macedonia, FYR",3440.0,3590.0,3760.0,3940.0,4190.0,4420.0,europe,0
Moldova,1190.0,1280.0,1380.0,1450.0,1500.0,1620.0,europe,0
Monaco,NaN,NaN,NaN,NaN,NaN,NaN,europe,0
Montenegro,5160.0,5380.0,5600.0,6070.0,6480.0,6930.0,europe,0
Norway,84000.0,86800.0,88500.0,89900.0,91600.0,90900.0,europe,0
Russia,7770.0,8360.0,8930.0,9690.0,10500.0,11100.0,europe,0
San Marino,74600.0,77000.0,77800.0,79800.0,84500.0,84800.0,europe,0
Serbia,4020.0,4390.0,4650.0,4900.0,5210.0,5510.0,europe,0
Switzerland,67400.0,68800.0,70500.0,72800.0,75100.0,75800.0,europe,0
Turkey,8330.0,9010.0,9690.0,10300.0,10600.0,10600.0,europe,0
Ukraine,2350.0,2650.0,2750.0,2970.0,3220.0,3310.0,europe,0